@import '../../node_modules/milligram/dist/milligram.min.css';
@import '../../node_modules/highlight.js/styles/gradient-light.css';

.block {
  width: 302px;
  margin: 5px;
  display: inline-block;
  background-color: black;
}

code {
  background: transparent;
}

#inputFile {
  visibility: hidden;
}

.log {
  margin: 0;
  white-space: break-spaces;
}

.square {
  margin-right: -0.7em;
}

img {
  margin: 5px;
}

canvas {
  margin: 5px 5px 5px 0;
}

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

header {
  padding: 20px 5px;
  text-align: center;
}

h1 {
  padding: 1em 0 0.5em;
  margin: 0;
  color: #0F7;
  font-size: 40px;
}

a {
  color: #F07;
}

p {
  padding: 20px 5px;
  text-align: right;
  font-style: italic;
}
