@import '../../node_modules/milligram/dist/milligram.min.css';
@import '../../node_modules/highlight.js/styles/gradient-light.css';

html {
  background: linear-gradient(217deg, rgba(255,0,128,.3), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(255,128,0,.3), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.3), rgba(0,0,255,0) 70.71%);
}

.list {
  grid: repeat(3, 80px) / auto-flow;
}

.block {
  /* width: 302px; */
  margin: 5px;
  display: inline-block;
  background-color: black;
}

.block-inputs {
  margin: 5px;
  padding: 10px;
  display: inline-block;
  background-color: white;
  max-width: 355px;
}

code {
  background: transparent;
}

#inputFile {
  visibility: hidden;
}

.log {
  margin: 0;
  white-space: break-spaces;
}

.square {
  margin-right: -0.7em;
}

img {
  margin: 5px;
  max-width: calc(100% - 35px);
}

canvas {
  margin: 5px 5px 5px 0;
}

.colors {
  width: 20px;
  display: inline-block;
  margin: 0 5px 5px 0;
}

.color {
  height: 20px;
  width: 20px;
  background-color: brown;
}

header {
  padding: 20px 5px;
  text-align: center;
}

h1 {
  margin: 1em 0 0.9em;
  padding: 0.15em 0.7em;
  display: inline-block;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(217deg, rgba(255,0,128,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(255,128,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  border-radius: 1em;
}

a:hover {
  text-decoration: underline;
}

h1 a, h1 a:hover {
  color: #FFF;
  text-decoration: none;
}

a, a:hover {
  color: #F07;
}

header nav a:not(:last-child) {
  margin-right: 2em;
  position: relative;
}

header nav a:not(:last-child):after {
  content: " | ";
  position: absolute;
  right: -1.35em;
  transform: rotate(20deg);
  opacity: 0.5;
}

footer {
  padding: 20px 10vw;
  text-align: center;
}

footer p {
  text-align: right;
  font-style: italic;
}
