# Node
node_modules

# Jest
coverage
junit.xml

# Parcel
cache

# Jest
.cache

# Build
lib
dist-doc
extract-colors

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
