<html>

  <!-- IMAGE -->
  <template id="img-block">

    <figure><img crossorigin="anonymous" :src="src" width="640" height="480" ref="img" alt="image" class="w-full" /></figure>
    <div class="card-body text-base-content">
      <h2 class="card-title">
        {{ colors.length }} colors
        <div class="badge badge-accent">
          {{ time }}ms
        </div>
      </h2>
      <p>
        {{ px }} pixels for calculation (original image is {{ naturalPx }} pixels)<br>
      </p>
      <div class="card-actions justify-start">
        <div
          v-for="color of colors"
          class="tooltip"
          :data-tip="`area: ${ parseFloat((color.area * 100).toFixed(2)) }% 
          HSL: { ${ color.hue.toFixed(2) },
          ${ color.saturation.toFixed(2) },
          ${ color.lightness.toFixed(2) } }
          intensity:${ color.intensity.toFixed(2) }`"
        >
          <div
            class="badge border-0"
            :style="`background-color: ${ color.hex }`"
          >
            <span
              class="opacity-50"
              :class="{
                'text-black': color.lightness >= 0.5,
                'text-white': color.lightness < 0.5
              }"
            >
              {{ color.hex }}
            </span>
          </div> 
        </div>
      </div>
    </div>
  </template>

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
    <meta name="author" content="Damien Doussaud">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Extract colors | Demo</title>
  </head>

  <body v-scope="Input({})" class="bg-base-200 from-primary to-accent text-primary-content bg-gradient-to-br">

    <!-- HEADER -->
    <header class="bg-base-100 text-base-content">
      <div class="navbar max-w-7xl mx-auto">
        <div class="navbar-start">
          <h1 tabindex="0" class="btn btn-ghost normal-case text-xl">
            <a href="/">
              <span class="text-primary">Extract</span><!--
              --><span class="text-base-content">Colors</span>
            </a>
          </h1>
        </div>
        <div class="navbar-end">
  
          <ul class="menu menu-horizontal p-0 hidden lg:flex">
            <li>
              <a href="/guide/">
                Guide
              </a>
            </li>
            <li>
              <a href="https://www.npmjs.com/package/extract-colors" target="_blank" rel="noopener noreferrer" class="gap-1">
                NPM
                <svg class="opacity-50" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15" data-v-7ad94a48=""><path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path><polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon></svg>
              </a>
            </li>
            <li>
              <a href="https://github.com/Namide/extract-colors" target="_blank" rel="noopener noreferrer" class="gap-1">
                GitHub
                <svg class="opacity-50" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15" data-v-7ad94a48=""><path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path><polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon></svg>
              </a>
            </li>
          </ul>
  
          <a href="/demo/" class="btn btn-accent hidden lg:flex mx-3">Demo</a>
      
          <div class="dropdown dropdown-end lg:hidden">
            <label tabindex="0" class="btn btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-16 6h16" /></svg>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
              <li>
                <a href="/guide/">
                  Guide
                </a>
              </li>
              <li>
                <a href="https://www.npmjs.com/package/extract-colors" target="_blank" rel="noopener noreferrer" class="gap-1">
                  NPM
                  <svg class="opacity-50" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15" data-v-7ad94a48=""><path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path><polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon></svg>
                </a>
              </li>
              <li>
                <a href="https://github.com/Namide/extract-colors" target="_blank" rel="noopener noreferrer" class="gap-1">
                  GitHub
                  <svg class="opacity-50" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15" data-v-7ad94a48=""><path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path><polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon></svg>
                </a>
              </li>
              <li>
                <a href="/demo/" class="btn btn-accent">
                  Demo
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <div class="flex flex-col sm:flex-row items-start gap-5 my-10 w-11/12 max-w-7xl mx-auto">

      <!-- SETTINGS -->
      <div
        class="bg-base-100 text-base-content rounded-box col-span-3 row-span-3 flex w-full sm:w-72 flex-shrink-0 flex-col justify-center gap-4 p-4 shadow-xl">
        <div class="p-2">

          <div class="text-xl font-extrabold">Demo</div>
          <div class="text-base-content/70 my-4 text-xs">You can test differents inputs to change time process or colors extracted.</div>
  
          <div class="divider text-sm mt-8">Config</div>

          <!-- Pixels -->
          <div class="form-control mt-2">
            <div class="tooltip" data-tip="small enough to escape casual notice">
              <label class="label">
                <span class="label-text opacity-60">Pixels amount max</span>
              </label>
            </div>
            <label class="input-group">
              <input type="number" step="1" v-model="pixels" class="input input-sm input-bordered w-full" />
              <span>px</span>
            </label>
          </div>
  
          <!-- Color distance -->
          <div class="form-control mt-2">
            <div class="tooltip" data-tip="From 0 to 1 is the color distance to not have near colors (1 distance is between white and black)">
              <label class="label">
                <span class="label-text opacity-60">Color distance</span>
              </label>
            </div>
            <input type="number" min="0" max="1" step="0.1" v-model="distance" class="input input-sm input-bordered w-full" />
          </div>
  
          <!-- Split color power -->
          <div class="form-control mt-2">
            <div class="tooltip" data-tip="Approximation power in the first color splitting during process (from 2 to 16).">
              <label class="label">
                <span class="label-text opacity-60">Split color power</span>
              </label>
            </div>
            <input type="number" step="1" min="2"
              max="16" v-model="splitPower" class="input input-sm input-bordered w-full" />
          </div>
  
          <!-- Hue distance -->
          <div class="form-control mt-2">
            <div class="tooltip" data-tip="from 0 to 1">
              <label class="label">
                <span class="label-text opacity-60">Hue distance</span>
              </label>
            </div>
            <input type="number" step="0.05" min="0"
              max="1" v-model="hueDistance" class="input input-sm input-bordered w-full" />
          </div>
  
          <!-- Saturation distance -->
          <div class="form-control mt-2">
            <div class="tooltip" data-tip="from 0 to 1">
              <label class="label">
                <span class="label-text opacity-60">Saturation distance</span>
              </label>
            </div>
            <input type="number" step="0.05" min="0"
              max="1" v-model="saturationDistance" class="input input-sm input-bordered w-full" />
          </div>
  
          <!-- Lightness distance -->
          <div class="form-control mt-2">
            <div class="tooltip" data-tip="from 0 to 1">
              <label class="label">
                <span class="label-text opacity-60">Lightness distance</span>
              </label>
            </div>
            <input type="number" step="0.05" min="0"
            max="1" v-model="lightnessDistance" class="input input-sm input-bordered w-full" />
          </div>

          <div class="divider text-sm mt-8">Images</div>

          <label class="btn btn-primary w-full">
            Upload images
            <input
              type="file"
              accept="image/*"
              @change="uploadFile"
              multiple
              class="hidden"
            />
          </label>
          
          <!-- Random -->
          <button @click="randomFiles" class="btn btn-secondary mt-2 w-full">
            Random images
          </button>

        </div>
      </div>

      <!-- IMAGES -->
      <div class="flex flex-wrap gap-5">
        <div
          v-for="{ src, id } of list" v-scope="ImgBlock({ src, pixels, distance, splitPower, hueDistance, saturationDistance, lightnessDistance })"
          class="card w-full lg:w-[calc(50%-15px)] xl:w-[calc(33%-15px)] bg-base-100 shadow-xl"
          @vue:mounted="mounted" :key="id"
        >
        </div>
      </div>

    </div>

    <!-- FOOTER -->
    <footer class="footer items-center p-4 bg-neutral text-neutral-content justify-center">
      <div class="items-center grid-flow-col">
        <p>
          Copyright (C) 2019 <a href="https://damien-doussaud.com/" target="_blank" rel="author" class="link">Damien Doussaud</a>
        </p>
      </div>
    </footer>

    <script src="../assets/demo.ts" type="module"></script>
  </body>
</html>
