<html>

  <template id="img-block">
    <img crossorigin="anonymous" :src="src" ref="img"><!--
    --><div class="colors">
      <div class="color" v-for="color of colors" :style="`background-color: ${ color.hex }`"></div>
    </div>
    <pre class="log hljs"><!--
      --><div><!--
      -->{{ colors.length }} colors: <span v-for="color of colors" class="square" :style="`color:${ color.hex }`">▮ </span> <!--
      --></div><!--
      --><div>pixels: {{ px }}</div><!--
      --><div>time: {{ time }}ms</div><!--
      --><div>colors:</div><!--
      --><div v-for="color of colors">-<span class="square" :style="`color:${ color.hex }`">▮ </span> {{ color.hex }} area: {{ parseFloat((color.area * 100).toFixed(2)) }}% hue: {{ color.hue.toFixed(2) }} sat: {{ color.saturation.toFixed(2) }} light: {{ color.lightness.toFixed(2) }}</div><!--
    --></pre>
  </template>

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="./assets/style.css">
    <meta name="author" content="Damien Doussaud">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Extract colors</title>
  </head>
  <body v-scope="Input({})">
    <header>
      <h1><a href="/extract-colors/">Extract colors</a></h1>
      <nav>
        <a href="/extract-colors/doc/">doc</a>
      </nav>
    </header>

    <div class="list">

      <div class="block-inputs">

        <h2>Config</h2>

        <details>
          <summary>Pixels amount max</summary>
          <small>small enough to escape casual notice.</small>
        </details>
        
        <input
          id="pixels"
          type="number"
          step="1"
          v-model="pixels"
        />

        <details>
          <summary>Color distance</summary>
          <small>From 0 to 1 is the color distance to not have near colors (1 distance is between white and black).</small>
        </details>

        <input
          id="distance"
          type="number"
          min="0"
          max="1"
          step="0.1"
          v-model="distance"
        />

        <details>
          <summary>Color saturation weight</summary>
          <small>Power of the saturation weight during the process (0 is not used, 1 is only saturation and not area size).</small>
        </details>

        <details>
          <summary>Split color power</summary>
          <small>Approximation power in the first color splitting during process (from 2 to 16).</small>
        </details>

        <label for="splitPower"></label>
        <input
          id="splitPower"
          type="number"
          min="2"
          max="16"
          step="1"
          v-model="splitPower"
        />

        <label for="splitPower">Upload images</label>
        <input
          id="uploadFile"
          type="file"
          accept="image/*"
          @change="uploadFile"
          multiple
        />
        <button @click="randomFiles">Extract from 5 random images</button>
      </div>

      <div v-for="{ src, id } of list" v-scope="ImgBlock({ src, pixels, distance, splitPower })" class="block" @vue:mounted="mounted" :key="id">
      </div>
    </div>

    <input id="inputFile" type="file" multiple accept="image/*"/>
    <footer>
      <a href="https://www.npmjs.com/package/extract-colors" target="_blank">NPM</a>
      <a href="https://github.com/Namide/extract-colors" target="_blank">GitHub</a>
      <p>
        By <a href="https://damien.doussaud.fr/" target="_blank" rel="author">Damien Doussaud</a>
      </p>
    </footer>
    <script src="https://unpkg.com/petite-vue@0.4.1/dist/petite-vue.iife.js"></script>
    <script src="./assets/script.ts" type="module"></script>
  </body>
</html>
